*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: rgb(116, 115, 115);
    background-color: azure;
}
.parrent-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0px;
    gap: 30px;
}
.pera1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    text-align: center;
}
.images{
    width: 70%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    align-items: center;
    padding: 40px 0px;
}
.heading1{
    color: black;
    text-align: center;
}
.pera2{
    font-size: 11px;
    text-align: center;
}
.web-devolopment{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#lovepik{
    width: 30%;
    height: 80px;
    object-fit: contain;
    
}
.data-analytics{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#analytics{
    width: 30%;
    height: 80px;
    object-fit: contain;
    background-color: azure;
}
.visual-computing{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#computing{
    width: 30%;
    height: 80px;
    object-fit: contain;
}
.ui-ux{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#uiux{
    width: 30%;
    height: 80px;
    object-fit: contain;
}
.android-development{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#android{
    width: 30%;
    height: 80px;
    object-fit: contain;
}
.ios-development{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#ios{
    width: 30%;
    height: 80px;
    object-fit: contain;
}

.pera3{
    font-size:12px;
    padding: 10px 25px;
    background-color: rgb(241, 66, 95);
    color: white;
    border-radius: 20px;
}
@media only screen and (max-width:850px) {
    .images{
        width: 80%;
    }
    
}
@media only screen and (max-width:750px) {
    .images{
        width: 90%;
    }
    
}
@media only screen and (max-width:660px) {
    .images{
        width: 70%;
        grid-template-columns: auto auto ;
    }
    
}
@media only screen and (max-width:470px) {
    .images{
        width: 70%;
        grid-template-columns: auto ;
    }
    .pera2{
        font-size: 12px;
        text-align: center;
    }
}